.element__image {
    object-fit: cover;
    width: 282px;
    height: 282px;
    display: flex;
    transition: opacity .5s ease-out;
    cursor: pointer;
}

.element__image:not(.element__like_active):hover {
    opacity: .7;
}